# -*- coding: UTF-8 -*-

# file          config.ini
# project       bilibili_live_utils
# name          Config 配置文件
# author        Doby2333
# github        https://github.com/lyzhang0113/bilibili-live-utils
# description   负责程序的所有配置设置

# ---------------------------
# 修改配置文件后需要重启程序生效！
# 修改配置文件后需要重启程序生效！
# 修改配置文件后需要重启程序生效！
# ---------------------------

# 和直播相关的配置
[LIVE]
; 要连接的直播间房间号
ROOM_ID = 12341234


# 和使用用户相关的配置（登录信息）
[USER]
; 登陆需要的 COOKIE，SESSDATA 对应 sessdata，BILIBILI_JCT 对应 bili_jct
SESSDATA = 12312312%123123123123%1Abcde1*23
BILIBILI_JCT = f1231231231ff12f1ffee1f1e12e123c


# 控制台日志
[LOG]
; 日志等级 NOTSET < DEBUG < INFO < WARNING < ERROR < CRITICAL
LEVEL = INFO
; 日志记录格式
FORMAT = [%(asctime)s][%(levelname)-8s][%(module)s.%(funcName)-15s]:%(lineno)d -> %(message)s
; 日志保存文件名（留空则不保存至文件）
FILE = logs/${room_id}_${date}.log


# 弹幕格式配置
[DANMAKU]
; 是否启用弹幕发送功能（一般Debug时设为False）
ENABLE = True
; 一次直播（直播开始-结束）时间内，用户进入时是否只欢迎一次，即不重复欢迎本次直播内已经欢迎过的观众 [True / False]
ONLY_WELCOME_ONCE = True

# ***** 自定义发送模板暂时还不支持 *****
; 欢迎用户进入
WELCOME_ENTER = 欢迎${uname}进入直播间
; 欢迎大航海成员进入
WELCOME_GUARD = 欢迎${uname}${guard_type}大人进入直播间
; 感谢用户的礼物
THANK_GIFT = 感谢${uname}赠送的${gift_name}x${gift_count}
; 感谢成为大航海成员
THANK_GUARD = 感谢${uname}开通了${gift_count}个月的${guard_type}，老板大气！
; 感谢醒目留言
THANK_SC = 感谢${uname}赠送的醒目留言，老板大气！
# ***** 自定义发送模板暂时还不支持 *****

; 定时发送弹幕间隔（分钟）
SCHEDULED_INTERVAL = 10
; 定时发送弹幕格式（如有多条则随机发送）（以英文逗号','区分设置多条，所以定时弹幕内容里不可以包含英文逗号）
SCHEDULED_NOTICE = 欢迎新来直播间的朋友,
    喜欢的朋友们点一波关注


# AI机器人的配置
[TURING_AI]
; 图灵机器人的开关，关闭后其他图灵机器人配置为 [可选]
ENABLE = True
; 向AI对话时在弹幕里加的前缀（如果使用AI机器人的话，不可以留空）
QUESTION_PREFIX = $?
; AI回复时的前缀（不可以与上一配置相同，会导致AI自问自答死循环，不要问我怎么知道的）
ANSWER_PREFIX = $!
; Fallback 回复（当机器人遇到问题无法访问时的通用回复）
FALLBACK = 机器人可能没电啦呜呜~
; 图灵机器人API的地址（一般不必修改）
API_URL = http://openapi.tuling123.com/openapi/api/v2
; 图灵机器人的API_KEY（以list存储，轮询使用）参见 http://www.tuling123.com/member/robot/index.jhtml
API_KEYS = 123abcabc1231231231231ab1ab12312,
    123abcabc1231231231231ab1ab12312
; 图灵机器人API调用时的request body模板，参见 https://www.kancloud.cn/turing/www-tuling123-com/718227
REQUEST_FORMAT = {
        "reqType": 0,
        "perception": {
            "inputText": {
                "text": ""
            },
            "selfInfo": {
                "location": {
                    "city": "地球"
                }
            }
        },
        "userInfo": {
            "apiKey": "",
            "userId": ""
        }
    }
